<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />	
	<title>React - Bootstrap Theme</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<!-- stylesheets -->
	<link rel="stylesheet" type="text/css" href="css/compiled/theme.css">
	<link rel="stylesheet" type="text/css" href="css/custom.css">

	<!-- javascript -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="js/bootstrap/bootstrap.min.js"></script>
	<script src="js/vendor/jquery.validate.min.js"></script>
	<script src="js/theme.js"></script>

	<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
  </head>
  <body id="contact-us">

  	<header class="navbar navbar-inverse normal" role="banner">
  		<div class="container">
  			<div class="navbar-header">
  				<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
  					<span class="icon-bar"></span>
  					<span class="icon-bar"></span>
  					<span class="icon-bar"></span>
  				</button>
  				<a href="index.html" class="navbar-brand"></a>
  			</div>
  			<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
  				<ul class="nav navbar-nav">
  					<li>
  						<a href="/">
  							Home
  						</a>          				
  					</li>
  					<li>
  						<a href="/features">
  							Features
  						</a>
  					</li>
  					<li>
  						<a href="/pricing">
  							Pricing
  						</a>

  					</li>
  					<li class="active">
  						<a href="/contactus">
  							Contact Us
  						</a>

  					</li>
  					<li class="dropdown">
	    				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
	      					More <b class="caret"></b>
	      				</a>
	      				<ul class="dropdown-menu">
							     <li><a href="/aboutus">About us</a></li>							
				        </ul>
	    			</li>        
            <li class="visible-xs">
                  <a href="http://app.dilacak.com/welcome">
                    Login
                  </a>                  
              </li>             
            </ul>
            <ul class="nav navbar-nav navbar-right visible-md visible-lg">
              <li>
                  <a href="http://app.dilacak.com/welcome" class="button">Login</a>
              </li>
            </ul>
  			</nav>
  		</div>
  	</header>

  	  <div class="statusbar">
		 <div class="container">          	
        	
    	</div>
	</div>

  	<div id="info">
  		<div class="container">
  			<div class="row">
  				<div class="col-md-8 message">
  					<h3>Send us a message</h3>
  					<p>
  						Untuk demo produk, pertanyaan dan semua hal yang berhubungan dengan Dilacak. <br/> Kami akan menghubungi anda secepatnya.
  					</p>
  					<form role="form" id="contact-form" method="post">
  						<div class="form-group">
  							<label for="name">Nama / Perusahaan</label>
  							<input type="text" name="name" class="form-control" id="name" />
  						</div>
  						<div class="form-group">
  							<label for="email">Email</label>
  							<input type="email" name="email" class="form-control" id="email" />
  						</div>
  						<div class="form-group">
  							<label for="phone">Telepon</label>
  							<input type="text" name="phone" class="form-control" id="phone" />
  						</div>
  						<div class="form-group">
  							<label for="message">Message</label>
  							<textarea name="message" class="form-control" id="message" rows="6"></textarea>
  						</div>
  						<div class="submit">
  							<input type="button" class="button button-small send-message" value="Email us" />
  						</div>
  					</form>
  				</div>
  				<div class="col-md-4 contact">
  					<div class="address">
  						<h3>Alamat Kami</h3>
  						<p>
  							Ruko Golden Blok G No 51 <br/>
  							Summarecon Serpong <br/>
  							Tangerang							
  						</p>
  					</div>
  					<div class="phone">
  						<h3>Telepon</h3>
  						<p>
  							021-29419092 / 021-29419093
  						</p>
  					</div>
  					<div class="phone">
  						<h3>Email</h3>
  						<p>
  							info@dilacak.com
  						</p>
  					</div>					
  					<div class="social">
  						<a href="http://facebook.com/dilacak" class="fb"><img src="images/social/fb.png" alt="facebook" /></a>
  						<a href="http://twitter.com/dilacak" class="tw"><img src="images/social/tw.png" alt="twitter" /></a>
  					</div>
  				</div>
  			</div>
  		</div>
  	</div>

  	<div id="map" style="height:400px;">

  		<iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.mx/?ie=UTF8&amp;ll=-6.240052,106.6373559&amp;spn=0.023259,0.038495&amp;t=m&amp;z=20&amp;output=embed"></iframe>

  		<div class="marker-wrapper">
  			<div class="marker-icon"></div>
  			<div class="marker"></div>
  		</div>

  		<div id="directions">
  			<p>Lokasi kantor kami</p>
  		</div>
  	</div>

  	<div id="footer">
  		<div class="container">
  			<div class="row">
  				<div class="col-sm-3 copyright">
  					React © 2014
  				</div>
  				<div class="col-sm-6 menu">
  					<ul>
  					<li class="active">
                    <a href="/features">Features</a>
                </li>
                <li>
                    <a href="/pricing">Pricing</a>
                </li>
                <li>
                    <a href="/contactus">Contact Us</a>
                </li>
                <li>
                    <a href="/aboutus">About Us</a>
                </li>
  					</ul>
  				</div>
  				<div class="col-sm-3 social">
  					<a href="http://twitter.com/dilacak">
  						<img src="images/social/social-tw.png" alt="twitter" />
  					</a>
  				</div>
  			</div>
  		</div>
  	</div>
  </body>

  <script type="text/javascript">
  $(document).ready(function() {				
  	$(".send-message").click(contactUs);				

  	$(document).on('click', '.close', function(){
  		$(".statusbar .container .content").remove();
  	});

  	function contactUs(){
  		var data = getFormData();
  		if(!($(".statusbar .container .content").length == 0)){
  			$(".statusbar .container .content").remove();
  		}

  		$(".statusbar .container .content").remove();

  		if(getErrorFlag(data) == true){
  			text = "Ooop, ada value yang tidak valid. Mohon perbaiki isi form.";
  			sevirity = "error";
  		}else{
  			text = "We got your message!";
  			sevirity = "info";
  			$.ajax({url: '/send_message', type: 'POST', data: data, success: function(){}});
  			clearForm();	

  		}

  		statusBarContentDiv = $(".statusbar").find("div");
  		contentDiv = $("<div></div>").attr("class", "content");
  		spanMessage = $("<span></span>").text(text);
  		closeLink = $("<a></a>").attr("href", "#").attr("class", "close").attr("data-dismiss", "alert").text("x");

  		contentDiv.append(spanMessage);
  		contentDiv.append(closeLink);

  		$(".statusbar").addClass(sevirity);
  		statusBarContentDiv.append(contentDiv);
  	}

  	function getErrorFlag(data){
  		var errorMap = validateForm(data["phone"], data["email"], data["name"], data["message"]);	
  		var errorFlag = false;

  		for (var key in errorMap) {	
  			if(errorMap[key] != true){
  				$("#"+key).addClass("error");
  				errorFlag = true;
  			}
  		}
  		return errorFlag;
  	}

  	function validateForm (phone, email, name, message) {
  		var errorMap = new Object();
  		errorMap["email"] = isValidEmail(email);
  		errorMap["phone"] = isValidPhone(phone);
  		errorMap["name"] = !isEmpty(name);

  		return errorMap;
  	}

  	function getFormData(){
  		var emailValue = $("#email").val();
  		var nameValue = $("#name").val();
  		var messageValue = $("#message").val();
  		var phoneValue = $("#phone").val();
  		var websiteValue = $("#website").val();
  		var unit_orderedValue = $("#unit_ordered").val();
  		var package_typeValue = $("#package_type").val();

  		var data = {'email' : emailValue, 'name' : nameValue, 'message' : messageValue, 'website': websiteValue, 'phone': phoneValue, "unit_ordered": unit_orderedValue, "package_type": package_typeValue }
  		return data;
  	}


  	function isValidEmail(email){
  		var filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
  		if (filter.test(email)) {
  			return true;
  		}
  		else{
  			return false;
  		}
  	}


  	function isValidPhone(phone) {
  		var filter = /^\+?([\d-])+$/;
  		if(filter.test(phone)){
  			return true
  		}else{
  			return false;
  		}
  	}


  	function clearForm(){
  		$("#name").val("");
  		$("#name").removeClass("error");
  		$("#email").val("");
  		$("#email").removeClass("error");
  		$("#phone").val("");
  		$("#phone").removeClass("error");
  		$("#message").val("");
  		$("#message").removeClass("error");
  		$("#website").val("");
  		$("#website").removeClass("error");
  		$("#unit_ordered").val("");

  		if($(".form-message").length > 0){
  			$(".form-message").removeClass("error");
  		}
  	}

  	function isEmpty(value){
  		if(value == "" || value == null){
  			return true;
  		}
  	}



  });

</script>
</html>
