<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />	
	<title>React - Bootstrap Theme</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<!-- stylesheets -->
	<link rel="stylesheet" type="text/css" href="css/compiled/theme.css">
	<link rel="stylesheet" type="text/css" href="css/custom.css">

	<!-- javascript -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="js/bootstrap/bootstrap.min.js"></script>
	<script src="js/theme.js"></script>

	<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body id="features">
	<header class="navbar navbar-inverse normal" role="banner">
  		<div class="container">
    		<div class="navbar-header">
		      	<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
		      	</button>
      			<a href="index.html" class="navbar-brand"></a>
    		</div>
    		<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      			<ul class="nav navbar-nav">
      				<li>
        				<a href="/">
          					Home
          				</a>          				
        			</li>
      				<li class="active">
        				<a href="/features">
          					Features 
          				</a>          				
        			</li>
        			<li>
          				<a href="/pricing">
          					Pricing
          				</a>
          				
        			</li>
        			<li>
          				<a href="/contactus">
          					Contact Us
          				</a>
          				
        			</li>
        			<li class="visible-xs">
          				<a href="http://app.dilacak.com/welcome">
          					Login
          				</a>          				
        			</li>        		

        			<li class="dropdown">
	    				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
	      					More <b class="caret"></b>
	      				</a>
	      				<ul class="dropdown-menu">
							<li><a href="/aboutus">About us</a></li>							
				        </ul>
	    			</li>        
      			</ul>
      			<ul class="nav navbar-nav navbar-right visible-md visible-lg">
      				<li>
          				<a href="http://app.dilacak.com/welcome" class="button">Login</a>
        			</li>
      			</ul>
    		</nav>
  		</div>
	</header>


	<div id="first-option">
		<div class="container">
			<div class="row header">
				<div class="col-md-12">
					<h2>Butuh solusi mudah dan handal untuk memonitor armada anda?</h2>
					<p>Dilacak.com adalah pilihan yang tepat semua jenis usaha anda</p>
				</div>
			</div>
			<div class="row feature">
				<div class="col-md-6 info">
					<h4>Selalu tahu di mana armada anda berada</h4>
					<p>
						Dengan <i>real time tracking</i> selalu tahu posisi kendaraan anda kapanpun dan di manapun. Dengan update setiap 5 (lima) detik, sistem akan menampilkan semua data penting kendaraan anda melalui peta interaktif kami.
					</p>
				</div>
				<div class="col-md-6 image">
					<img src="images/feature_dilacak_1.png" class="img-responsive" alt="feature1" />
				</div>
			</div>
			<div class="divider"></div>
			<div class="row feature backwards">
				<div class="col-md-6 info">
					<h4>Review data pengunaan kendaraan</h4>
					<p>
						Akses lokasi dan data penting seperti kecepatan, idle time, millage masa lalu. Review penggunaan asset anda melalui reporting sistem kami.
					</p>
					<p>
						Dilengkapi dengan grafik dan filtering, sistem report kami akan membantu anda untuk menentukan keputusan penting dan penghematan biaya armada anda.
					</p>
				</div>
				<div class="col-md-6 image">
					<img src="images/feature_dilacak_2.png" class="img-responsive" alt="feature2" />
				</div>
			</div>
			<div class="divider"></div>
			<div class="row feature last">
				<div class="col-md-6 info">
					<h4>Jangan terlewatkan kejadian penting</h4>
					<p>
						Semua info dan kejadian penting seperti mesing dinyalakan, mesin dimatikan, tiba di lokasi, alert kecepatan kami tampilkan melalui sistem notifikasi.
					</p>
					<p>
						Kami menampilkan notifikasi di dalam applikasi kami, melalui email ataupun sms agar anda tidak akan pernah melewatkan info mengenai armada anda.
					</p>
				</div>
				<div class="col-md-6 image">
					<img src="images/feature_dilacak_3.png" class="img-responsive" alt="feature1" />
				</div>
			</div>
		</div>
	</div>

	<div id="second-option">
		<div class="container">
			<div class="row">
				<div class="col-md-4 feature">
					<img src="images/circle-icons/full-color/steeringwheel.png" alt="credit-card" />
					<strong>Real vehicle tracking</strong>
					<p>Selalu tau posisi, kecepatan, kondisi mesin kendaraan anda saat ini.</p>
				</div>
				<div class="col-md-4 feature">
					<img src="images/circle-icons/full-color/hourglass.png" alt="dev" />
					<strong>Trip and position history</strong>
					<p>Lihat sejarah perjalanan armada anda, sebagai bukti pekerjaan atau untuk mereview effisensi perjalanan.</p>
				</div>
				<div class="col-md-4 feature">
					<img src="images/circle-icons/full-color/speedometer.png" alt="globe" />
					<strong>Millage report</strong>
					<p>Ketahui millage/jarak tempuh yang telah dilalui armada anda. Report ditampilkan dalam grafik dan tabel untuk memudahkan analisis</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 feature">
					<img src="images/circle-icons/full-color/clock.png" alt="support" />
					<strong>Idle time report</strong>
					<p>Idle time sangat berpengaruh terhadap penggunaan bensin kendaraan. Analisa idle time armada anda melalui grafik dan tabel data yang kami sediakan.</p>
				</div>
				<div class="col-md-4 feature">
					<img src="images/circle-icons/full-color/caution.png" alt="mail" />
					<strong>Event & alert notification</strong>
					<p>Kami menyediakan notifikasi untuk event Engine On, Engin Off, Place arrival, dan juga alert untuk Speeding dan Geofencing</p>
				</div>
				<div class="col-md-4 feature">
					<img src="images/circle-icons/full-color/pin2.png" alt="locked" />
					<strong>Place management</strong>
					<p>Kelola semua tempat-tempat atau lokasi penting bagi armada anda dalam sistem kami.</p>
				</div>
			</div>
		</div>
	</div>



	<div id="footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-3 copyright">
					React LLC 2014
				</div>
				<div class="col-sm-6 menu">
					<ul>
	      				<li class="active">
	          				<a href="/features">Features</a>
	        			</li>
	        			<li>
	          				<a href="/pricing">Pricing</a>
	        			</li>
	        			<li>
	          				<a href="/contactus">Contact Us</a>
	        			</li>
	        			<li>
	          				<a href="/aboutus">About Us</a>
	        			</li>
	      			</ul>
				</div>
				<div class="col-sm-3 social">
					<a href="#">
						<img src="images/social/social-tw.png" alt="twitter" />
					</a>
					<a href="#">
						<img src="images/social/social-dbl.png" alt="dribbble" />
					</a>					
				</div>
			</div>
		</div>
	</div>
</body>
</html>